* {
  box-sizing: border-box;
}

body {
  width: 550px;
  display: block;
  margin: 0 auto;
  font-family: Inter, sans-serif;
  background-color: #23252C;
  border: 1px solid black;
}

.App {
  background-color: #F5F5F5;
}